# Exclude Artifacts
bin
obj
vs
/BrickBreaker/.vs/BrickBreaker/v16
/BrickBreaker/.vs/BrickBreaker/DesignTimeBuild

/AudioFfmpegConversionTool
/DiscordBots/OuterHeavenBot/OuterHeavenBot/appsettings.json
/DiscordBots/.vs/DiscordBots/v16
/DiscordBots/.vs/DiscordBots/DesignTimeBuild